#Python Data Structure

1.What are data structures, and why are they important?
 - Data structure are special ways of organizing,storing and managing data in a computer so that it can be used efficiently it is important beacause it is efficiency in storing and accessing data.

2.Explain the difference between mutable and immutable data types with examples?
  - mutable means changeble once a mutable object is created we can modify its content without creating a new object
  example
   my_list=[1,2,3]
   my_list[0]=10
   print(my_list)
  - immutable means unchangeble once an immutable object is created you cannot modify its content
  example
    x=5
    x=x+2
    print(x)

3.What are the main differences between lists and tuples in Python?
 -  list
     -  mutable
     -  uses square brackets[]
     -  list use big memory
 -  tuple
    -  immutable
    -  use parentheses()
    -  tuple are faster
    -  tuple use less  memory

4.Describe how dictionaries store data.
  -  Dictionary in python store data using a very efficient system called Hashing
  -  student={"name":"riyaj","age":21}

5.Why might you use a set instead of a list in Python?
 -  a set automatically removes duplicates we can do mathematical operation on set.set stores only unique items.

6.What is a string in Python, and how is it different from a list?
 -  A string in Python is a sequence of characters, while a list is a sequence of items that can be of any type.

7.How do tuples ensure data integrity in Python?
 -  Tuples help ensure data integrity in Python mainly because they are immutable.
Once a tuple is created, its contents cannot be changed—no adding, deleting, or modifying elements.

8.What is a hash table, and how does it relate to dictionaries in Python?
 -  A hash table is a data structure that stores key value pairs and allows very fast lookup, insertion, and deletion—typically in O 1 time. Python's dictionary is implemented internally using a hash table.

9.Can lists contain different data types in Python?
 -  Yes  lists can contain different data types in Python. A list is a heterogeneous data structure, meaning it can store elements of any type even mixed together.

10.Explain why strings are immutable in Python.
 -  Strings are immutable in Python because once a string is created, its contents cannot be changed. This design choice provides important benefits in performance, security, and reliability.

11.What advantages do dictionaries offer over lists for certain tasks?
 -  Dictionaries offer several major advantages over lists for certain tasks especially when you need fast lookups or meaningful associations between pieces of data.

12.Describe a scenario where using a tuple would be preferable over a list?
 -  Suppose you're storing the (x, y) coordinates of a point in a program:
 -  point = (10, 20)
 -  This is a perfect use case for a tuple, because:The values represent a single, fixed entity. The data is logically fixed

13.How do sets handle duplicate values in Python?
 -  In Python, sets automatically remove duplicate values.When you add items to a set, Python checks whether the item already exists. If it does, the duplicate is ignored only unique elements are stored.

14.How does the “in” keyword work differently for lists and dictionaries?
 -  When we use in with a list, Python checks whether the value is one of the elements in the list.
 -  When we use in with a dictionary, Python checks only the keys, not the values.

 15.Can you modify the elements of a tuple? Explain why or why not.
  -  No, we cannot modify the elements of a tuple in Python.A tuple is immutable, which means once it is created, its elements cannot be changed, added, or removed.

16.What is a nested dictionary, and give an example of its use case?
 -  A nested dictionary is a dictionary inside another dictionary.
It allows you to store data in a hierarchical, structured, or multi-level format.

17.Describe the time complexity of accessing elements in a dictionary.
 -  Accessing elements in a dictionary in Python is generally very fast because dictionaries use a hash table internally.Accessing elements in a dictionary takes O(1) time on average because Python uses a hash table, but in the worst case (due to collisions) it can degrade to O(n).

18.In what situations are lists preferred over dictionaries?
 -  Lists are preferred over dictionaries when you need ordered, indexed, and sequential data storage especially when keys are not needed. Here are the main situations where lists are the better choice.

19.Why are dictionaries considered unordered, and how does that affect data retrieval
 -  Dictionaries are considered unordered because their internal structure is based on hash tables, not positions or indexes. Even though modern Python preserves insertion order, dictionaries are still conceptually unordered because the order is not meant to be used for logical access.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
 -  The fundamental difference between a list and a dictionary, in terms of data retrieval, lies in the mechanism used to access individual elements.
 -  Lists:
 -  Ordered Sequence: Lists maintain the order in which elements are added.
 -  Indexed Access: Data retrieval in a list is performed using numerical indices, starting from 0 for the first element. This is similar to accessing elements in an array.

#Practical Questions

In [ ]:
# 1.Write a code to create a string with your name and print it.
name = "Md Riyaj"
print(name)

Md Riyaj

In [ ]:
# 2.Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [ ]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [1]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
# Create a tuple with three fruits
fruits = ("apple", "banana", "mango")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [2]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
# Print the set
print(my_set)

{'b', 'c', 'a'}

In [3]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}
# Clear all elements from the set
numbers.clear()
# Print the empty set
print(numbers)

set()

In [4]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}
numbers = {1, 2, 3, 4}
# Remove the element 4
numbers.remove(4)
# Print the updated set
print(numbers)

{1, 2, 3}

In [5]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
# Find the union of the sets
union_set = set1.union(set2)
# Print the result
print(union_set)

{1, 2, 3, 4, 5}

In [6]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
# Find the intersection of the sets
intersection_set = set1.intersection(set2)
# Print the result
print(intersection_set)

{2, 3}

In [7]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "John",
    "age": 25,
    "city": "New York"
}
# Print the dictionary
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [8]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
# Add new key-value pair
person['country'] = 'USA'
# Print updated dictionary
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [9]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
# Access the value of the key "name"
print(person['name'])

Alice

In [10]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
# Remove the key "age"
person.pop('age')
# Print the updated dictionary
print(person)

{'name': 'Bob', 'city': 'New York'}

In [11]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
# Check if "city" key exists
if "city" in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [12]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4]
# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')
# Create a dictionary
my_dict = {'name': 'John', 'age': 25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 25}

In [13]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
# Create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]
# Sort the list in ascending order
numbers.sort()
# Print the result
print(numbers)

[19, 23, 36, 48, 57]

In [14]:
#28.Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "elderberry"]
# Print the element at the third index (index 3)
print(words[3])

date

In [15]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
# Combine the dictionaries
combined_dict = {**dict1, **dict2}
# Print the result
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [16]:
#30.Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple"]
# Convert list to set
string_set = set(string_list)
# Print the set
print(string_set)

{'banana', 'apple', 'cherry'}